---
- Developer:
    - GitHub:
        - icon: github.png
          href: https://github.com
    - Ansible Docs:
        - icon: ansible.png
          href: https://docs.ansible.com

- Social:
    - Reddit:
        - icon: reddit.png
          href: https://reddit.com