---
- name: Create Copyparty directories
  file:
    path: "{{ item }}"
    state: directory
    mode: '0755'
  loop:
    - "{{ copyparty_data_dir }}"

- name: Deploy Copyparty container
  community.docker.docker_container:
    name: copyparty
    image: "{{ copyparty_image }}:{{ copyparty_version }}"
    restart_policy: unless-stopped
    networks:
      - name: "{{ docker_network }}"
    ports:
      - "{{ ports.copyparty }}:3923"
    volumes:
      - "{{ copyparty_data_dir }}:/data"
    command: -v /data::rwmd
    env:
      TZ: "{{ timezone }}"