---
- name: Check if swap file exists
  stat:
    path: /swapfile
  register: swap_file

- name: Create swap file
  command: fallocate -l {{ swap_size }} /swapfile
  when: not swap_file.stat.exists

- name: Set swap file permissions
  file:
    path: /swapfile
    mode: '0600'
  when: not swap_file.stat.exists

- name: Format swap file
  command: mkswap /swapfile
  when: not swap_file.stat.exists

- name: Enable swap file
  command: swapon /swapfile
  when: not swap_file.stat.exists

- name: Add swap to fstab
  lineinfile:
    path: /etc/fstab
    line: '/swapfile none swap sw 0 0'
    state: present

- name: Set swappiness
  sysctl:
    name: vm.swappiness
    value: '10'
    state: present
    reload: true