---
- name: Create PostgreSQL data directory
  file:
    path: "{{ postgres_data_dir }}"
    state: directory
    mode: '0755'

- name: Deploy PostgreSQL container
  community.docker.docker_container:
    name: postgres
    image: "tensorchord/pgvecto-rs:pg16-v0.2.1"
    restart_policy: unless-stopped
    networks:
      - name: "{{ docker_network }}"
    volumes:
      - "{{ postgres_data_dir }}:/var/lib/postgresql/data"
    env:
      POSTGRES_USER: "{{ postgres_user }}"
      POSTGRES_PASSWORD: "{{ postgres_password }}"
      POSTGRES_INITDB_ARGS: "--data-checksums"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U {{ postgres_user }}"]
      interval: 10s
      timeout: 5s
      retries: 5